@charset "utf-8";
/* CSS Document */
*{/*通配符选择器*/
	margin:0px;
	padding:0px;
}
a{
	text-decoration: none;
}
ul{
	list-style:none;
}
#box{
	/*background-color:#F00;*/
	width:1024px;
	height:1300px;
	/*margin:0 auto;*/
	margin:0 auto 0 auto;/*上 右 下 左*/
}
header{
	background-image: url("../img/bg.jpg");
	backgroung-size :cover ;
	height: 209px;
	width: 1024px;
	padding:  0 1rem;
	filter: grayscale(0.3);
}
.logonav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	color: rgb(21,140,80);
}
nav a{
	padding: 5px 1rem;
    cursor: pointer;
	transition: 0.8s;
}
nav a:hover{
	background-color: darkgray;
	font-weight: 700;
	padding: 5px calc(1rem - 1px);
	border: 2px solid rgb(71,122,58);
}

#main{
	/*background-color:#6F0;*/
	height:1000px;
}
#left{
	/*background-color:#33C;*/
	height:1000px;
	width:250px;
	float:left;/*可以使div横向排排坐*/
}

#zuozhe{
	padding-top:15px;
	padding-left:15px;/*上边和左边留点空*/
	text-align:center;/*整个内容水平居中*/
}

#zuozhe img{
	border:1px solid #999;/*加边solid实线*/
	padding:8px;/*边与图片有个空白，类似相框*/
	border-radius:10px;/*圆角，值越大，角越园*/
}

#zuozhe span{
	margin:10px;/*一圈的距离*/
	display:block;/*改成盒子元素，可以识别盒子元素的一些属性：margin、border\padding*/
	/*border-top:1px #999 dashed;上面的虚线边 粗细是1，颜色是灰色 */
	border-top-color:#999;
	border-top-style:dashed;
	border-top-width:1px;

	border-bottom:1px #999 dashed;/*下边的虚线*/
	font-size:18px;/*字号*/
	padding-top:5px;/*内容距离边的距离-上面的*/
	padding-bottom:5px;/*下面的*/
}

/*class选择器的写法 以点开头 后面跟着html标签上的class属性里面的那个名*/
.biaoti{
	color:#FFF;
	background-color:#328048;/*背景色绿色，取色器取到的*/
	height:40px;
	width:220px;
	line-height:40px;/*设置垂直居中，值要和height的值一样*/
	font-size:16px;
	font-weight:bolder;/*加粗，h5本来就是标题，已经加粗过了，不加也可以*/
	padding-left:30px;/*左边撑出来一个空*/
	border-radius:0 10px 10px 0;/*和margin、broder、padding，都是4个值*/
	/*顺序：左上角、右上角、右下角、左下角，0代表没有圆角*/
}

#huoli ul{
	list-style:none;/*去点*/
	padding-left:20px;
	padding-top:10px;
}

#huoli ul li{
	margin:5px;/*每个li之间的距离*/
	width:90px;
	float:left;/*因为外面的ul的宽度太小了，所以原本应该都放在一行的，会自动的掉下去，变成一行只能展示2个li*/

}

#huoli ul li a{
	font-size:12px;
	text-decoration:none;/*去下划线*/
	color:#333;/*网站字体一般都不是黑色，扎眼*/
}
#huoli ul li a:hover{/*鼠标滑过变色*/
	color:#090;
}

#huoli ul li img{
	margin-right:5px;/*让图标和文字之间的距离大点*/
}

#list{
	clear:both;/*清空所有的自带的float影响*/
}

#list ul{
	list-style:none;
	padding:15px;/*不靠左边和上边，留空*/
}

#list ul li{
	padding-bottom:8px;
	padding-left:15px;
	border-bottom:1px #999 dotted;/*下面的虚线：dashed或者dotted*/
	margin-bottom:8px;/*我的边和其他人的字的距离，padding我的字和我的边的距离*/
	background:url(images/icon1.gif)  no-repeat;/*不重复的话，变成背景*/
	/*background-image:url(images/icon1.gif) ;
	background-repeat:repeat-x;*/
	background-position:5px center;/*背景点的位置*/
}

#list ul li a{
	text-decoration:none;/*去掉下划线*/
	color:#333;/*黑色太扎眼，用深灰*/
	font-size:12px;
}

#list ul li a:hover{
	color:#F60;
	text-decoration:underline;/*鼠标滑过，显示下划线*/
}

#right{
	/*background-color:#F3F;*/
	height:1000px;
	width:774px;
	float:right;/*可以使div横向排排坐*/
}

.wenzhang{
	padding:10px 30px 0 30px;/*上 右 下 左*/
}

.wenzhang h3{
	margin:10px;
	border-bottom:1px #666 dashed;/*  下边 */
	padding-bottom:8px;/*内容与边距离*/
}

.wenzhang a{
	text-decoration:none;
	color:#F60;
	font-weight:bolder;
}

.wenzhang a:hover{/*当div下面所有的a标签都该样式，那可以不用h3*/
	color:#690;
}

.wenzhang span{
	margin-left:520px;/*通过这个margin使文字靠右显示*/
	font-size:12px;
	color:#aaaaaa;
}

.wenzhang p{
	font-family:"微软雅黑";
	font-size:14px;
	color:#666;
	line-height:35px;/*行高*/
	text-indent:2em;/*首行缩进2字符，em单位随着字的大小占2个字符空*/
}

.zhu{
	color:#999 !important;/*强制使用此样式!important*/
	font-size:10px !important;
}


#footer{
	background-color:#328048;
	height:80px;
	clear:both;/*清空其他的div的float的影响*/
}

#footer span{
	text-align:center;/*水平居中*/
	display:block;/*盒子模型，不然居中属性也不管用*/
	color:#FFF;
	line-height:80px;/*垂直居中*/
}